body {
  font-family: "Open Sans", sans-serif;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

img {
  max-width: 75%;
}

/* left side */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 100%;
  left: 0;
  background-color: #f2f2f2;
  position: fixed;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center
}

/* right side */
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
  height: 100%;
  right: 0;
  background-color: #333333;
  position: fixed;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center
}

.login_btn {
  text-align: center;
  color: #ffffff;
}

button {
  background-color: #333333;
}

#tractivity_txt {
  color: #53e0cd;
  font-style: strong;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  left: 0;
  background-color: #f2f2f2;
  position: relative;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;
}

/* right side */
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
  left: 0;
  background-color: #333333;
  position: relative;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 300px;
}
}